name: Latest blog post workflow
on: 
    schedule:
        - cron: '0 * * * *'
    workflow_dispatch:
jobs: 
    update-readme-with-blog: 
        name: Update this repo's README with latest blog posts
        runs-on: ubuntu-latest
        steps: 
            - uses: actions/checkout@v2
            - name: Metrics embed
              uses: lowlighter/metrics@v3.10
              with: 
                      token: ${{ secrets.METRIC_TOKEN }}
                      user: GrahamSH-LLK
                      template: terminal
                      base: header, activity, community, repositories, metadata
                      config_timezone: America/New_York
                      plugin_pagespeed: yes
                      plugin_pagespeed_url: grahamsh.com
                      plugin_rss: yes
                      plugin_rss_limit: 4
                      plugin_rss_source: https://grahamsh.com/feed.xml
